@media (max-width:739px){

    .header-infor{
        display: none;
    }

    .header-navigators{
        display: none;
    }

    .header--forMobile{
        display: block;
    }

    .header-wrap{
        max-height: 52px;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-element{
        padding: 12px;
    }

    .header-element:hover{
        background-color: #737373;
        color: #000;
    }

    .header-title--link{
        display: block;
        font-size: 2.5rem;
        color: #fff;
        padding: 4px;
        text-decoration: none;
    }

    .menu-icon,
    .header-search-btn-icon{
        font-size: 2rem;
        color: #fff;
        padding: 4px;
    }

    .nav-list{
        display: none;
    }

    .banner{
        display: none;
    }

    .content{
        margin-top: 30px;
    }

    .product-title{
        margin: 0px 4px;
    }

    .gaming-list{
        display: none;
    }

    .home-product__item{
        width: 98%;
    }

    .bonus-detail{
        font-size: 1rem;
    }

    .modal__content-item--title{
        flex: 2;
    }

    .modal__content-item--infor{
        flex: 6;
    }
}

@media (min-width:740px){
    .menu-mobile{
        display: none;
    }
}